@import url("../styles/reset.css");
@import url("../styles/breakpoints.css");
@import url("../styles/Fonts.css");
@import url("../styles/Typography.css");

:root {
  --white: #ffffff;
  --primary: #d0d6f9;
  --secondary: #0b0d17;
  --border: #979797;
  --black: #0b0d17;
  --black-secondary: #383b4b;
  --white-secondary: #ffffff17;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #ffffff;
    --primary: #d0d6f9;
    --secondary: #0b0d17;
    --border: #979797;
    --black: #0b0d17;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.homepage {
  border: 2px solid green;
  height: 100vh;
}
